In [2]:
import numpy as np
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [12]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])

In [22]:
list(np.random.normal(['Low','Medium','High'],N))

['High',
 'High',
 'Low',
 'Low',
 'Low',
 'Low',
 'Low',
 'High',
 'High',
 'Medium',
 'Medium',
 'Low',
 'Medium',
 'Medium',
 'Low',
 'Medium',
 'High',
 'High',
 'Medium',
 'High']

In [23]:
np.random.choice(['Low','Medium','High'],N).tolist()

['Low',
 'Medium',
 'Low',
 'Medium',
 'High',
 'High',
 'Medium',
 'High',
 'Low',
 'Medium',
 'Medium',
 'High',
 'Low',
 'Medium',
 'Low',
 'Low',
 'Low',
 'Low',
 'High',
 'High']

In [11]:
df.reindex(index=[0,2,5],columns=['A','B','C'])

           A   B       C
0 2016-01-01 NaN  Medium
2 2016-01-03 NaN    High
5 2016-01-06 NaN     Low

In [31]:
df.sort_values(by='D')

            A       C           D     x         y
15 2016-01-16  Medium   84.404410  15.0  0.267587
18 2016-01-19  Medium   85.178065  18.0  0.682758
2  2016-01-03     Low   87.207773   2.0  0.469208
1  2016-01-02     Low   90.425274   1.0  0.413128
9  2016-01-10     Low   97.445563   9.0  0.967939
12 2016-01-13     Low  100.372685  12.0  0.782308
13 2016-01-14     Low  100.909365  13.0  0.750441
3  2016-01-04    High  102.974275   3.0  0.248126
10 2016-01-11     Low  103.667045  10.0  0.593968
19 2016-01-20  Medium  104.348625  19.0  0.320595
11 2016-01-12     Low  105.960054  11.0  0.027330
17 2016-01-18    High  106.596494  17.0  0.205761
16 2016-01-17     Low  107.937849  16.0  0.625951
8  2016-01-09  Medium  108.259814   8.0  0.029252
0  2016-01-01  Medium  109.139372   0.0  0.521552
7  2016-01-08     Low  111.181965   7.0  0.851068
4  2016-01-05  Medium  111.642368   4.0  0.537523
6  2016-01-07  Medium  112.190628   6.0  0.193233
14 2016-01-15  Medium  112.814467  14.0  0.774449
5  2016-01-06  Medium  117.155559   5.0  0.621902

In [32]:
df.sort_values(by='D',kind='mergesort')

            A       C           D     x         y
15 2016-01-16  Medium   84.404410  15.0  0.267587
18 2016-01-19  Medium   85.178065  18.0  0.682758
2  2016-01-03     Low   87.207773   2.0  0.469208
1  2016-01-02     Low   90.425274   1.0  0.413128
9  2016-01-10     Low   97.445563   9.0  0.967939
12 2016-01-13     Low  100.372685  12.0  0.782308
13 2016-01-14     Low  100.909365  13.0  0.750441
3  2016-01-04    High  102.974275   3.0  0.248126
10 2016-01-11     Low  103.667045  10.0  0.593968
19 2016-01-20  Medium  104.348625  19.0  0.320595
11 2016-01-12     Low  105.960054  11.0  0.027330
17 2016-01-18    High  106.596494  17.0  0.205761
16 2016-01-17     Low  107.937849  16.0  0.625951
8  2016-01-09  Medium  108.259814   8.0  0.029252
0  2016-01-01  Medium  109.139372   0.0  0.521552
7  2016-01-08     Low  111.181965   7.0  0.851068
4  2016-01-05  Medium  111.642368   4.0  0.537523
6  2016-01-07  Medium  112.190628   6.0  0.193233
14 2016-01-15  Medium  112.814467  14.0  0.774449
5  2016-01-06  Medium  117.155559   5.0  0.621902